@model GoldMantis.Web.ViewModel.User.ModelCustomFlowIndex
@{
    Layout = "~/Views/Shared/_LayoutDialog.cshtml";
}

<script type="text/javascript">

    function choose() {
        if (!commonPage.isSelect())
            return;
        window.top.bootstrapGM.closeDialog({ callback: 'Edit.WFCustomFlow_Callback' });
    }

    function returnValue() {
        var tr = $("table tr.common-table-tr-selected");
        return '\''+ tr.find("input[type='radio']:checked").attr("data-row")+'\'';
    }

    function cancel() {
        window.top.bootstrapGM.closeDialog();
    }

</script>
@using (Html.BeginForm(null, null, null, FormMethod.Get, new { role = "form", @class = "form-horizontal" }))
{
    @Html.HiddenFor(x => x.DeptID)
    @Html.HiddenFor(x => x.UserID)
    @Html.HiddenFor(x => x.MenuID)
    <div style="padding: 15px 15px 0px;">
        <!--TOOLBAR-->
        <div style="height: 34px; margin-bottom: 10px;">
            <div class="toolbar-left" style="float: left;">
                <button class="btn green" type="button" onclick="choose();">
                    <i class="fa fa-save"></i>
                    确认
                </button>
                <button class="btn purple" onclick="javascript:CreateCustomFlow(@Model.UserID);">
                    <i class="fa fa-plus"></i>
                    新增
                </button>
                <a href="javascript:;" class="btn red" onclick="cancel();">
                    <i class="fa fa-edit"></i>
                    取消
                </a>
                <button type="button" class="btn yellow" onclick="javascript:commonPage.scan();">
                    <i class="fa fa-search"></i>
                    条件查询
                </button>
            </div>
        </div>

        <!--SERACH FORM-->
        <div class="search-container" style="margin-top: 15px; display: none;">
            <div class="form-group">
                <div class="col-sm-6">
                    <label class="col-sm-4 control-label">流程创建者:</label>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(x => x.SearchEntity.CreateUser, new { @class = "form-control input-sm" })
                    </div>
                </div>
                <div class="col-sm-6">
                    <label class="col-sm-4 control-label">流程审批环节:</label>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(x => x.SearchEntity.WFNodeAuditor, new { @class = "form-control input-sm" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-6">
                    <label class="col-sm-4 control-label">流程名:</label>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(x => x.SearchEntity.WFName, new { @class = "form-control input-sm" })
                    </div>
                </div>
                <div class="col-sm-6">
                    <label class="col-sm-4 control-label">流程创建时间:</label>
                    <div class="col-sm-8">
                        <div class="input-group">
                            @Html.TextBoxFor(x => x.SearchEntity.WFCreateTimeBegin, new { @readonly = "readonly", @class = "form-control date-picker" })
                            <span class="input-group-addon">至</span>
                            @Html.TextBoxFor(x => x.SearchEntity.WFCreateTimeEnd, new { @readonly = "readonly", @class = "form-control  date-picker" })
                        </div>
                    </div>
                </div>

            </div>
            <div class="form-group" style="text-align: right; margin-right: 0px;">
                <div class="col-sm-12">
                    <button type="submit" class="button-search btn blue ">
                        搜索 <i class="fa fa-search"></i>
                    </button>
                    <a href="javascript:;" class="button-clear btn red">
                        清除 <i class="fa fa-trash-o"></i>
                    </a>
                </div>
            </div>
        </div>

    </div>
    <div class="replace-container">
        @{
    Html.RenderPartial("CustomFlow_Partial");
        }
    </div>
}

<script type="text/javascript" language="javascript">

    function OpenViewCustomFlow(userID, publishID) {
        window.top.bootstrapGM.dialog({
            url: "@Url.Content("~/WorkFlow/WorkFlow/View")"+"?pageState="+detail+"&UserID=" + userID + "&PublishID=" + publishID + "&MenuID=" + + @Model.MenuID,
            title: "查看自定义流程",
            width: 1000
        });
    }

    function CreateCustomFlow(userID) {
        window.top.bootstrapGM.dialog({
            url: "@Url.Content("~/WorkFlow/WorkFlow/Create")"+"?pageState="+create+"&UserID=" + userID  + "&MenuID=" + @Model.MenuID,
            title: "新增自定义流程",
            width: 1000
        });
    }

    $(document).ready(function () {

    });
</script>

