@model GoldMantis.Web.ViewModel.User.ModelNodeIndex
@{
    Layout = null;
}
<div style="width: 100%; overflow: auto;" class="common-table-container" id="common-table-container">
    <table style="margin-top: 0px; table-layout: fixed;"
           class="table  table-responsive table-striped table-bordered table-hover"
           role="grid">
        <colgroup>
            <col style="width: 40px;" />
            <col style="width: auto;" />
            <col style="width: auto;" />
            <col style="width: auto" />
        </colgroup>
        <thead class="common-table-header">
            <tr role="row">
                @Html.HiddenFor(x => x.SearchEntity.OrderName, new { data_order_name = "" })
                @Html.HiddenFor(x => x.SearchEntity.OrderDirection, new { data_order_direction = "" })
                <th style="text-align: center;">

                </th>
                <th style="text-align: center;">
                    环节
                </th>
                <th style="text-align: center;">
                    处理者
                </th>
                <th style="text-align: center;">
                    处理时间
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var i in Model.GridDataSources)
            {
                <tr role="row" style="text-align: center;" ondblclick="javascript:showUser('@i.ActorTokenId');">
                    <td>
                        <input type="radio" name="checkboxItem" class="checkboxItem" value="@i.ActorTokenId" />
                    </td>
                    <td td-data-content="@i.NodeName">
                        <div style="text-align: left;">
                            @i.NodeName
                        </div>
                    </td>

                    <td td-data-content="@i.DoUserName">
                        <div style="white-space: nowrap; text-overflow: ellipsis; overflow: hidden; text-align: left;">
                            @i.DoUserName
                        </div>
                    </td>

                    <td td-data-content="@i.DoTime">
                        <div>
                            @i.DoTime
                        </div>
                    </td>

                </tr>
            }
        </tbody>
    </table>
    <div>
        @{
            Html.RenderPartial(Url.Content("~/Views/Controls/PaginateAjax.cshtml"), Model.PaginateHelperObject);
        }
    </div>
</div>



