@model GoldMantis.Web.ViewModel.OA.ModelVW_OAKPILeavesIndex
@{
    Layout = null;
}

@*@Html.TableBanner(Model.PaginateHelperObject.TotalCount)*@

<div class="alert alert-warning" style="margin-bottom: 0px; padding: 8px;">
    <button class="close" data-dismiss="alert"></button>
    <i class="fa  fa-info-circle"></i>
    <strong>警告!</strong> 用户信息涉及用户登录，请勿随意删除！
</div>

@Html.Table(ViewBag.TableData as TableAttribute<VW_OAKPILeaves>)

@*<div style="width: 100%; overflow: auto;" class="common-table-container" id="common-table-container">
    <table style="margin-top: 0px; table-layout: fixed;"
           class="table  table-responsive table-striped table-bordered table-hover"
           role="grid">
        <colgroup>
            <col style="width: 40px;"/>
            <col style="width: 220px;"/>
            <col style="width: 120px;"/>
            <col style="width: 70px;"/>
            <col style="width: 120px;"/>
            <col style="width: 120px;"/>
        </colgroup>
        <thead class="common-table-header">
        <tr role="row">

            @Html.HiddenFor(x => x.SearchEntity.OrderName, new {data_order_name = ""})
            @Html.HiddenFor(x => x.SearchEntity.OrderDirection, new {data_order_direction = ""})
            <th style="text-align: center;">
                <input type="checkbox" class="common-table-checkbox-all"/>
            </th>
            @Html.HiddenFor(x => x.SearchEntity.OrderName, new {data_order_name = ""})
            @Html.HiddenFor(x => x.SearchEntity.OrderDirection, new {data_order_direction = ""})
            <th>
                操作
            </th>
            @(Html.ThOrderHelper<VW_OAKPILeaves>(x => x.KeyID, "编号"))
            @(Html.ThOrderHelper<VW_OAKPILeaves>(x => x.UserName, "姓名"))
            @(Html.ThOrderHelper<VW_OAKPILeaves>(x => x.Code, "年龄"))
            <th>
                籍贯
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var i in Model.GridDataSources)
        {
            <tr role="row" style="text-align: center;" ondblclick="javascript:showUser('@i.KeyID');">
                <td>
                    <input type="checkbox" name="checkboxItem" class="checkboxItem" value="@i.KeyID"/>
                </td>
                <td>
                    <button type="button" class="btn blue btn-xs" onclick="editUser(@i.KeyID)">
                        <i class="fa fa-edit"></i>
                        编辑
                    </button>
                    <button type="button" class="btn red btn-xs" onclick="deleteUser(@i.KeyID)">
                        <i class="fa fa-trash"></i>
                        删除
                    </button>
                </td>
                <td td-data-content="<b>@i.KeyID</b>">
                    @i.KeyID
                </td>

                <td td-data-content="@i.UserName">
                    <div style="white-space: nowrap; text-overflow: ellipsis; overflow: hidden;">
                        @i.UserName
                    </div>
                </td>
                <td td-data-content="@i.Code">
                    @i.Code
                </td>
                <td td-data-content="@DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss fffffff")">
                    <span>@DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss fffffff")</span>
                </td>
            </tr>
        }
        </tbody>
    </table>
    <div>
        @{
            Html.RenderPartial(Url.Content("~/Views/Controls/PaginateAjax.cshtml"), Model.PaginateHelperObject);
        }
    </div>
</div>*@


@Html.Pager("pagin", Model.PaginateHelperObject)

@Html.HiddenFor(x => x.SearchEntity.OrderName, new { data_order_name = "" })
@Html.HiddenFor(x => x.SearchEntity.OrderDirection, new { data_order_direction = "" })


